services:
  github-runner:
    build:
      context: .
      args:
        DOCKER_GID: ${DOCKER_GID:-999}
    container_name: github-runner
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    privileged: true